body .main-header{
    text-align: center;
}

header.main-header .logo{display: block;border-radius: 50%;}

.main-header .logo{

margin: 20px auto 25px;

margin-bottom: 40px;
}

.main-header .menu{
    padding: 7px 10px;
    background-color: var(--gray);
    color: white;
    display: inline-block;
    font-size: 1.2rem;
}

header.main-header .nav{
    
}

header.main-header .ul{

}

header.main-header.ul li{
    
}

header.main-header ul li a{
    list-style: none;
    padding: 8px 5px;
    background-color: var(--gray);
    margin: 2px auto;
    display: block;
    color: white;
}

header.main-header .main-nav{
    margin-top: 25px;
    padding: 0px;
}


@media (min-width: 426px) {

    .body-main{}
    
    body .main-header{}
    
    header.main-header .logo{}
    
    .main-header .logo{}
    
    .main-header .menu{
    display: none;
}
    
    header.main-header .nav{}
    
    .main-header .nav .main-nav{}

    .main-header .nav .main-nav .cuadro-nav{display: inline-block;width: 120px;}
    
    .main-header.ul li{}
    
    .main-header ul li a{}
}

@media (min-width: 769px) {

    .body-main{margin: 0px 70px;}

    body .main-header{}
    
    header.main-header .logo{
    margin: 15px auto 30px;
    width: 180px;
    border: 2px solid #cccccc;
}
    
    .main-header .logo{}
    
    .main-header .menu{}
    
    header.main-header .nav{}

    header.main-header .nav :nth-last-child(6){
        margin-right: 0px;
    }
    
    .main-header .nav .main-nav{
    display: flex;
    justify-content: space-between;
}

    .main-header .nav .main-nav .cuadro-nav{
    /* display: inline-block; */
    width: 150px;
    /* margin-right: 14px;*/ }
    
    header.main-header.ul li{}
    
    header.main-header ul li a{
}
}
